<div class="container" >
  <div class="row" >
    <div class="col-md-6 col-6 offset-md-4 ">
    <div id="about"><b>About Me</b></div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-10 offset-md-1 offset-1">
      <div class="row">
        <div class="col-md-4 col-10 ">
        <img src="assets/profile.png" alt="" style="width:auto" >
        </div>
        <div class="col-md-8 col-12">
          <div class="about-txt">
        I am a Front End Developer and UI/UX designer based in INDIA.<br>
I am passionate for Interface Design and building dynamic websites and Web Applications with thoughtful UI Design & converting experiences into Code.
I focus on making websites responsive and to come up with best solutions with clean & efficient code.<br>
I want to learn & grow by upskilling myself as a fullstack Javascript developer with a keen eye in design .
          </div><br><br>

            <a id="resume"  href="https://drive.google.com/file/d/1QbG3XktLOl5MBahv_21R9r1-DgOAweXw/view?usp=sharing">My Resume</a>


    </div>


      <h3 style="font-size:3rem; margin-bottom:2%; margin-top:3%; margin-left:14%;  ">What I Do</h3>

    </div>
<div class="container1">
<div class="row">
    <div class="col-md-12 col-10" style="margin-left:9%;">
        <div class="row">

        <div class="col-md-2 col-12">
              <div class="card" style="width:auto; padding:7%;">
                <img class="card-img-top" src="assets/design.png" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Design</h4>
                  <h5 class="card-text">Simple & Intuitive Design</h5>
                </div>
              </div>
        </div>
        <div class="col-md-2 col-12">
              <div class="card" style="width:auto; padding:7%;">
                <img class="card-img-top" src="assets/coding.png" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Code</h4>
                  <h5 class="card-text">Pixel Perfect Code</h5>
                </div>
              </div>
        </div>
        <div class="col-md-2 col-12">
              <div class="card" style="width:auto; padding:7%;">
                <img class="card-img-top" src="assets/dynamic.png" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Dynamic</h4>
                  <h5 class="card-text">Building Dynamic Websites</h5>
                </div>
              </div>
        </div>
        <div class="col-md-2 col-12">
              <div class="card" style="width:auto; padding:7%;">
                <img class="card-img-top" src="assets/responsive.png" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Responsive</h4>
                  <h5 class="card-text">Layout works on every device</h5>
                </div>
              </div>
        </div>
        <div class="col-md-2 col-12">
              <div class="card" style="width:auto; padding:7%;">
                <img class="card-img-top" src="assets/test.png" alt="Card image" style="width:100%">
                <div class="card-body">
                  <h4 class="card-title">Testing</h4>
                  <h5 class="card-text">Testing My Work</h5>
                </div>
              </div>
        </div>

      </div>

</div>
