<div class="container1">
  <div class="row">
    <div class="col-md-8 col-10 offset-md-2 offset-1" >
    <div style="text-align:center; margin-top:5%;">
      <h3 id="c1">Contact</h3>
      <h4 id="c2">Thank You for viewing my work.</h4>
      <h4 id="c3">Lets Connect!</h4>
      <button id="b1" style="margin-top:5%;" ><span ><img src="assets/mail.jpeg" style="width:15%;height:20%;"></span> Email</button><br>
      <button id="b2" ><span ><img src="assets/li.jpeg" style="width:15%;height:20%;"></span> LinkedIn</button><br>
      <button id="b3" ><span ><img src="assets/github.jpeg" style="width:15%;height:20%;"></span> GitHub</button>
    </div>
    </div>
  </div>
</div>
