<div class="container3" >

  <div class="row" >

      <div id="skill"><b>Skills</b></div>

  </div>

  <div class="row" >
    <div class="col-md-8 col-10 offset-md-2 offset-1 ">
      <div class="row" >
        <div class="col-md-2 col-6 ">
              <div class="card" style="width:auto; padding:7%;">

                <div class="card-body">
                  <h4 class="card-title">HTML5</h4>
                </div>
                <img class="card-img-bottom" src="assets/html5.png" alt="Card image" style="width:100%">
              </div>
        </div>

        <div class="col-md-2 col-6 ">
              <div class="card" style="width:auto; padding:7%;">

                <div class="card-body">
                  <h4 class="card-title">CSS3</h4>
                </div>
                <img class="card-img-bottom" src="assets/css.png" alt="Card image" style="width:100%">
              </div>
        </div>

        <div class="col-md-2 col-6 ">
              <div class="card" style="width:auto; padding:7%;">

                <div class="card-body">
                  <h4 class="card-title">Bootstrap4</h4>
                </div>
                <img class="card-img-bottom" src="assets/bootstrap.png" alt="Card image" style="width:100%">
              </div>
        </div>

        <div class="col-md-2 col-6 ">
              <div class="card" style="width:auto; padding:7%;">

                <div class="card-body">
                  <h4 class="card-title">JavaScript</h4>
                </div>
                <img class="card-img-bottom" src="assets/javascript.png" alt="Card image" style="width:100%">
              </div>
        </div>

        <div class="col-md-2 col-6 ">
              <div class="card" style="width:auto; padding:7%;">

                <div class="card-body">
                  <h4 class="card-title">TypeScript</h4>
                </div>
                <img class="card-img-bottom" src="assets/typrscript.png" alt="Card image" style="width:100%">
              </div>
        </div>

        <div class="col-md-2 col-6 ">
              <div class="card" style="width:auto; padding:7%;">

                <div class="card-body">
                  <h4 class="card-title">Data Structure </h4>
                </div>
                <img class="card-img-bottom" src="assets/ds.png" alt="Card image" style="width:100%">
              </div>
        </div>

        <div class="col-md-2 col-6 ">
              <div class="card" style="width:auto; padding:7%;">

                <div class="card-body">
                  <h4 class="card-title">SQL</h4>
                </div>
                <img class="card-img-bottom" src="assets/sql.png" alt="Card image" style="width:100%">
              </div>
        </div>

        <div class="col-md-2 col-6 ">
              <div class="card" style="width:auto; padding:7%;">

                <div class="card-body">
                  <h4 class="card-title">React</h4>
                </div>
                <img class="card-img-bottom" src="assets/react.png" alt="Card image" style="width:100%">
              </div>
        </div>

        <div class="col-md-2 col-6 ">
              <div class="card" style="width:auto; padding:7%;">

                <div class="card-body">
                  <h4 class="card-title">Angular</h4>
                </div>
                <img class="card-img-bottom" src="assets/angular.png" alt="Card image" style="width:100%">
              </div>
        </div>

        <div class="col-md-2 col-6 ">
              <div class="card" style="width:auto; padding:7%;">

                <div class="card-body">
                  <h4 class="card-title">Nodejs</h4>
                </div>
                <img class="card-img-bottom" src="assets/nodejs.jpg" alt="Card image" style="width:100%">
              </div>
        </div>

        <div class="col-md-2 col-6 ">
              <div class="card" style="width:auto; padding:7%;">

                <div class="card-body">
                  <h4 class="card-title">C</h4>
                </div>
                <img class="card-img-bottom" src="assets/c.png" alt="Card image" style="width:100%">
              </div>
        </div>

        <div class="col-md-2 col-6 ">
              <div class="card" style="width:auto; padding:7%;">

                <div class="card-body">
                  <h4 class="card-title">C++</h4>
                </div>
                <img class="card-img-bottom" src="assets/cc.png" alt="Card image" style="width:100%">
              </div>
        </div>

        <div class="col-md-2 col-6 ">
              <div class="card" style="width:auto; padding:7%;">

                <div class="card-body">
                  <h4 class="card-title">Python</h4>
                </div>
                <img class="card-img-bottom" src="assets/python.png" alt="Card image" style="width:100%">
              </div>
        </div>

      </div>
    </div>
  </div>

</div>
