<div class="container1" >
  <div class="row" >
    <div class="col-md-6 col-6 offset-md-4 ">
    <div id="pro"><b>Projects</b></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8 col-10 offset-md-2 offset-1">
        <div class="row">

          <div class="col-md-4 col-12">
            <div class="card" style="width:auto">

                  <img class="card-img-top"  src="assets/p_game.png" alt="Card image" style="width:auto"style="height:20rem">

            <div class="card-body">
              <h4 class="card-title">Mind Game</h4>
              <p class="card-text">Using JavaScript, HTML5, CSS3, Bootstrap4.</p>
              <hr><a href="https://sneha-hanchate.github.io/Game_zone/" id="view"  class="btn btn-primary">View</a>
              <a href="https://github.com/Sneha-Hanchate/Game_zone" id="git"  class="btn btn-primary">View on GitHub</a>
            </div>
            </div>

          </div>

          <div class="col-md-4 col-12">
            <div class="card" style="width:auto">

                  <img class="card-img-top"  src="assets/form.png" alt="Card image" style="width:auto"style="height:20rem">

            <div class="card-body">
              <h4 class="card-title">Employee Form</h4>
              <p class="card-text">It has been developed by using HTML5, CSS3, Bootstrap4, Angular, TypeScript.</p>
              <hr><a href="https://app.netlify.com/sites/gracious-ritchie-79ba9d/overview" id="view"  class="btn btn-primary">View</a>
              <a href="https://github.com/Sneha-Hanchate/Employee--Forms" id="git"  class="btn btn-primary">View on GitHub</a>
            </div>
            </div>

          </div>


          <div class="col-md-4 col-12">
            <div class="card" style="width:auto">

                  <img class="card-img-top"  src="assets/p_zomato.png" alt="Card image" style="width:auto"style="height:20rem">

            <div class="card-body">
              <h4 class="card-title">Zomato Replica</h4>
              <p class="card-text">This is static web page made by using HTML5, JavaScript, CSS3, bootstrap.</p>
              <hr><a href="https://sneha-hanchate.github.io/zomato-replica/" id="view"  class="btn btn-primary">View</a>
              <a href="https://github.com/Sneha-Hanchate/zomato-replica" id="git"  class="btn btn-primary">View on GitHub</a>
            </div>
            </div>

          </div>

          <div class="col-md-4 col-12">
            <div class="card" style="width:auto">

                  <img class="card-img-top"  src="assets/school.png" alt="Card image" style="width:auto"style="height:20rem">

            <div class="card-body">
              <h4 class="card-title">School</h4>
              <p class="card-text">This project made by using Angular, TypeScript, HTML, CSS, Bootstrap.</p>
              <hr><a href="https://schoolll.netlify.app" id="view"  class="btn btn-primary">View</a>
              <a href="https://github.com/Sneha-Hanchate/school" id="git"  class="btn btn-primary">View on GitHub</a>
            </div>
            </div>

          </div>

          <div class="col-md-4 col-12">
            <div class="card" style="width:auto">

                  <img class="card-img-top"  src="assets/cart.png" alt="Card image" style="width:auto"style="height:20rem">

            <div class="card-body">
              <h4 class="card-title">Shopping Cart</h4>
              <p class="card-text">It has been developed by using HTML5, CSS3, Bootstrap4, Angular, TypeScript.</p>
              <hr><a href="https://upbeat-pasteur-d111ab.netlify.app" id="view"  class="btn btn-primary">View</a>
              <a href="https://github.com/Sneha-Hanchate/Add-to-Cart" id="git"  class="btn btn-primary">View on GitHub</a>
            </div>
            </div>

          </div>



          <div class="col-md-4 col-12">
            <div class="card" style="width:auto">

                  <img class="card-img-top"  src="assets/hotel.png" alt="Card image" style="width:auto"style="height:20rem">

            <div class="card-body">
              <h4 class="card-title">Hotel Food App</h4>
              <p class="card-text">Online Food order app with filters, cart.</p>
              <hr><a href="https://upbeat-banach-750e46.netlify.app" id="view"  class="btn btn-primary">View</a>
              <a href="https://github.com/Sneha-Hanchate/Online-Hotel-Food" id="git"  class="btn btn-primary">View on GitHub</a>
            </div>
            </div>

          </div>


          <div class="col-md-4 col-12">
            <div class="card" style="width:auto">

                  <img class="card-img-top"  src="assets/todo.png" alt="Card image" style="width:auto"style="height:20rem">

            <div class="card-body">
              <h4 class="card-title">Todo App</h4>
              <p class="card-text">Simple Todo App using Angular, HTML, CSS.</p>
              <hr><a href="https://peaceful-montalcini-2c7f2c.netlify.app" id="view"  class="btn btn-primary">View</a>
              <a href="https://github.com/Sneha-Hanchate/Todo" id="git"  class="btn btn-primary">View on GitHub</a>
            </div>
            </div>

          </div>


          <div class="col-md-4 col-12">
            <div class="card" style="width:auto">

                  <img class="card-img-top"  src="assets/p_car.png" alt="Card image" style="width:auto"style="height:20rem">

            <div class="card-body">
              <h4 class="card-title">Hyundai Car</h4>
              <p class="card-text">This is Static responsive web page using HTML, CSS, JavaScript.</p>
              <hr><a href="https://sneha-hanchate.github.io/Hyundai.github.io/" id="view"  class="btn btn-primary">View</a>
              <a href="https://github.com/Sneha-Hanchate/Hyundai.github.io" id="git"  class="btn btn-primary">View on GitHub</a>
            </div>
            </div>

          </div>






        </div>
    </div>


  </div>
</div>
